<div #menuContainer>
  <ul class="menu hidden" #menu>
    <li class="menu-left">
      <div class="menu-about" (click)="onOptionClick('about')">
        <a href="#">
          <div class="bg-img">
            <img src="./assets/img/menu-about.jpg" alt="">
          </div>
          <span>About</span>
        </a>
      </div>
      <div class="menu-hireme" (click)="onOptionClick('hireme')">
        <a href="#">
          <div class="bg-img">
            <img src="./assets/img/menu-hireme.jpg" alt="">
          </div>
          <span>Hire Me</span>
        </a>
      </div>
    </li>
    <li class="menu-right">
      <div class="menu-services" (click)="onOptionClick('services')">
        <a href="#">
          <div class="bg-img">
            <img src="./assets/img/menu-services.jpg" alt="">
          </div>
          <span>Services</span>
        </a>
      </div>
      <div class="menu-contact" (click)="onOptionClick('contact')">
        <a href="#">
          <div class="bg-img">
            <img src="./assets/img/menu-contact.jpg" alt="">
          </div>
          <span>Contact</span>
        </a>
      </div>
    </li>
    <!-- <li class="menu-canvas">
        <canvas id="logo-canvas">

        </canvas>
    </li> -->
  </ul>
</div>