<h1 class="title">Stay Connected</h1>
<ul class="social-media">
    <li class="item-social-media">
        <a href="https://www.twitter.com/Arealesramirez">
            <img src="./assets/img/twitter.png" class="twitter">
        </a>
    </li>
    <li class="item-social-media">
        <a href="https://www.linkedin.com/in/andres-reales-315076111/">
            <img src="./assets/img/linkedin.png" class="linkedin">
        </a>
    </li>
    <li class="item-social-media">
        <a href="skype:andresrealesramirez?call">
            <img src="./assets/img/skype.png" class="skype">
        </a>
    </li>
    <li class="item-social-media">
        <a href="mailto:arealesramirez8606@gmail.com">
            <img src="./assets/img/email.png" class="email">
        </a>
    </li>
</ul>
<p>
    &copy;{{ year }} - Designed by <a href="mailto:arealesramirez8606@gmail.com"> Andrés Reales</a>
</p>