<div class="skewed-section">
  <div class="aligned-section">
    <div>
      <h1 class="title title-open-tag">About</h1>
      <div class="section-group">
        <div class="section-left">
          <img class="main-img" src="./assets/img/about_andres_reales4.png">
        </div>
        <div class="section-right">
          <p>
            My Name is Andrés Reales. I'm from Barranquilla, Colombia. I'm a very passionate about learning new technologies and
            developing software applications. I mainly use technologies such as .Net Core, C#, SQL Server, Angular
             4, Javascript, jQuery Libraries, Xamarin for development. I like working not only on backend development, but also
            frontend development of an application. I like to use javascript libraries such as Greensock.js, ScrollMagic.js, three.js 
            to design and create innovative web designs on my spare time. Also, I'm very interest in Augmented Reality and Virtual Reality 
            development.
          </p>
          <p>
            Finally, I hope you enjoy my website as I enjoy other innovative websites and applications throughout all the web.
          </p>
        </div>
      </div>
      <h1 class="title title-close-tag">About</h1>
    </div>
  </div>
</div>
<div class="skewed-section">
  <div class="aligned-section">
    <div>
      <h1 class="title title-open-tag">My Experience</h1>
      <div class="section-group">
        <div class="section-left">
          <p class="section-title">Caprock Customs Applications</p>
          <p class="section-subtitle">Software Developer, July 2016 - December 2017</p>
          <p class="section-subtitle-info">Lubbock, Tx</p>
          <p class="section-content">
            At Caprock Customs Applications, I started as an intern. Later on, I continued as Software Developer working with an excellent team
            of experienced developers. I worked on many projects to develop APIs, web and mobile applications. This experience
            taught me the process of planning, creating, testing and deploying applications.
          </p>
        </div>
        <div class="section-right">
          <div class="section-img-container">
            <img src="./assets/img/cca.png">
          </div>
        </div>
      </div>
      <div class="section-group">
        <div class="section-left">
            <p class="section-title">Freelancer - Incomaq LLC</p>
            <p class="section-subtitle">Software Developer, December 2016</p>
            <p class="section-subtitle-info"></p>
            <p class="section-content">
              I developed a web application for
              <a href="http://www.incomaq.com">Incomaq LLC</a>, a company based in Colombia. This application allows the company employees to update content
              of the Incomaq web app with the latest products and services they offer, making it easy to keep their clients
              with updated content. The Incomaq web app was developed to provide content in two languages to target not only locals, but
              also international audience by providing bilingual content to its visitors.
            </p>
        </div>
        <div class="section-right">
          <div class="section-img-container">
            <img src="./assets/img/incomaq.png">
          </div>
        </div>
      </div>
      <div class="section-group">
        <div class="section-left">
          <p class="section-title">Lubbock Christian University</p>
          <p class="section-subtitle">BS Information Systems & Technology, earned December 2017</p>
          <p class="section-subtitle-info">Lubbock, Tx</p>
          <p class="section-content">
            At Lubbock Christian University (LCU), I pursued a degree in Bachelors in Science in Information Systems & Technology, 
            and minor in Business Administration. I was member of the Honors College and the Men's Soccer Team for four years. 
            At LCU, I understood that ethic and hard work are the foundation of success.
          </p>
        </div>
        <div class="section-right">
          <div class="section-img-container">
            <img src="./assets/img/lcu.png">
          </div>
        </div>
      </div>
      <h1 class="title title-close-tag">My Experience</h1>
    </div>
  </div>
</div>