<div class="skewed-section">
  <div class="aligned-section">
    <h1 class="title title-open-tag">Services</h1>
    <div class="section-group">
      <div class="section-left">
        <div class="section-img-container">
          <img src="./assets/img/app_development.png">
        </div>
      </div>
      <div class="section-right">
        <p class="section-title">App Development</p>
        <p class="section-content">
          Do you want to make your ideas into reality? Are you looking for someone who could make apps? Let's talk! I enjoy working
          on new projects. My mission is to deliver a great product that my clients can get benefits from.
        </p>
        <div class="section-img-container">
            <img src="./assets/img/app_development.png">
          </div>
      </div>
    </div>
    <div class="section-group">
      <div class="section-left">
        <div class="section-img-container">
          <img src="./assets/img/web_design.png">
        </div>
      </div>
      <div class="section-right">
        <p class="section-title">Web Design</p>
        <p class="section-content">
          Do you need a website for your business? It's important to promote services and products on the web. Get connected to
          potential clients by launching the website that your business needs. Do you want to redesign your website? I enjoy
          staying on top of current and innovative web designs that provide a better user experience. Let me work with you
          by providing my knowledge and expertise to give a fresh and attractive look to your website.
        </p>
        <div class="section-img-container">
            <img src="./assets/img/web_design.png">
          </div>
      </div>
    </div>
    <h1 class="title title-close-tag">Services</h1>
  </div>
</div>