<div class="skewed-section">
    <div class="aligned-section">
        <div class="section-group">
            <h1 class="title title-open-tag">Hire Me</h1>
            <p class="section-subtitle">
                Need a hand with a project? Looking for a software developer?
            </p>
            <p>
                Let's talk. I want to help you speed up the development of your product. There are situations when there's simply not enough
                human power to meet deadlines. Let me give you a hand. I can deliver you a high quality code and provide
                you new solutions without affecting performance.
            </p>
            <div class="section-img-container">
                <img src="./assets/img/hireme.png">
            </div>
            <p class="section-subtitle">
                Let's work together!
            </p>
            <h1 class="title title-close-tag">Hire Me</h1>
        </div>
    </div>
</div>